@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar-thumb {
        @apply bg-transparent shadow-sm;
    }
    ::-webkit-scrollbar {
        @apply w-3 bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-alpha /*color trackbar*/;
    }

    .overlay {
        overflow: overlay;
    }
}

@layer components {
    .inactive-nav {
        @apply h-full px-4 flex justify-center items-center text-nav hover:text-skin;
    }
    .active-nav {
        @apply h-full px-4 flex justify-center items-center text-primary;
    }

    .inactive-nav-mobile {
        @apply px-2 py-3 rounded-lg font-medium text-base flex items-center gap-x-3;
    }

    .active-nav-mobile {
        @apply px-2 py-3 rounded-lg font-semibold bg-[rgba(0,0,0,0.05)]  text-base flex items-center gap-x-3;
    }
}

.slick-dots li button:before {
    font-size: 15px !important;
}

.slick-dots {
    bottom: 2% !important;
}

.shadow-card {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.08);
}

input::placeholder {
    color: #bababa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.animate-charcter {
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* subtle zoom to attention and then back */
.pop-outin {
    animation: 4s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
    0% {
        color: #ff701d;
        transform: scale(0.5);
        opacity: 0;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
        color: red;
        transform: scale(1.1);
        opacity: 1;
        text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
        color: #ff701d;
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        /* animate nothing to add pause at the end of animation */
        transform: scale(1);
        opacity: 1;
        text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
}

.new-line {
    white-space: pre-line;
}

.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #df8453;
    --color-2: #3d8dae;
    --color-3: #e4a9a8;
}

.title-word-2 {
    --color-1: #ebb235;
    --color-2: #13d4bd;
    --color-3: #2e2c65;
}

.title-word-3 {
    --color-1: #15b6a3;
    --color-2: #f37d16;
    --color-3: #accfcb;
}

.title-word-4 {
    --color-1: #3d8dae;
    --color-2: #df8453;
    --color-3: #e4a9a8;
}

@keyframes color-animation {
    0% {
        color: var(--color-1);
    }
    32% {
        color: var(--color-1);
    }
    33% {
        color: var(--color-2);
    }
    65% {
        color: var(--color-2);
    }
    66% {
        color: var(--color-3);
    }
    99% {
        color: var(--color-3);
    }
    100% {
        color: var(--color-1);
    }
}

/* Here are just some visual styles. 🖌 */

.container {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 20px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
